body {
  max-width: 100vw;
  margin: auto;
  background-image: url("https://thumbs.dreamstime.com/z/watch-film-cinema-popcorn-clapperboard-yellow-background-top-view-movie-premiere-concept-153931954.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.qalogo {
  align-items: center;
  width: 30px;
  height: auto;
  margin-left: 5%;
  margin-right: 7%;
}
.cinema {
  width: 40vw;
  margin: 25px;
  margin-left: 35%;
}

.movie-poster {
  height: 500px;
  margin: 50px;
  margin-right: 50px;
}

.movies {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: black;
  padding: 50px;
  width: 100vw;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: rgb(241, 254, 0);
  text-decoration: none;
  font-weight: bold;
}

input,
select {
  margin: 5px;
  border-radius: 5px;
  height: 1.25rem;
}
label {
  margin: 5px;
}

table {
  border-style: ridge;
}

td {
  border-style: groove;
}

.frame {
  text-align: center;
  height: 40%;
  width: 80%;
  background: #eee;
  padding: 15px 10px;
}

.movieSched {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.formHolder {
  border-style: ridge;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.btn {
  background-color: #2783df;
  color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 125px;
}

.image {
  border-width: 50px;
  border-color: rgb(236, 9, 206);
  height: 150px;
  width: 110px;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
}

.subButt {
  margin: 10px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: red;
  margin: 20px;
  line-height: 20pt;
}

footer {
  font-weight: lighter;
}

.photo1 {
  margin-right: 50px;
}

h1 {
  text-align: center;
}

h1 {
  text-align: center;
}
